@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
    background-color: #F5F2ED;
    scroll-behavior: smooth;
}